# No track *.asv
*.asv

# No track D:/Codes/MatlabFiles/Blocks/TickTockFiles
TickTockFiles/

# file folder
MusicVisual/
SysModel_grt_rtw/
slprj/


# .mat
*.mat

#.work space
*.code-workspace

#.auto save 
*.asv

#.fig
*.fig