# Windows default autosave extension
*.asv

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace

# No track D:/Codes/MatlabFiles/Blocks/TickTockFiles
TickTockFiles/

# file folder
MusicVisual/
SysModel_grt_rtw/
slprj/


# .mat
*.mat

#.work space
*.code-workspace

#.auto save 
*.asv

#.fig
*.fig

#..code-workspace
*.code-workspace

# ecg docs
D:/Codes/MatlabFiles/Blocks/ECG/ECG.doc
D:/Codes/MatlabFiles/Blocks/ECG/ECG.pdf
D:/Codes/MatlabFiles/Blocks/ECG/license.txt
ADRC/Scripts/draft.m
D:/Codes/MatlabFiles/ADRC/Visual
ADRC/Visual/
ADRC/Scripts/SimuDraft_grt_rtw/
